<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Stogging</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/buy">Buy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register">Register</a>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main" class="page">      

        <router-outlet></router-outlet>

    </main>

    <footer class="page-footer bg-dark">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="#">Stogging</a>
        </div>
        <!-- Copyright -->

    </footer>
</body>