<div class="container" style="margin-top: 80px">

    <div class="row">
        <div class="col-md-3" *ngFor="let g of games">
            <div class="ibox">
                <div class="ibox-content product-box">

                    <div class="product-imitation" [ngStyle]="{'background-image':'url('+g.url_capa+')'}" style="background-size: cover; resize: both; background-repeat: no-repeat;">
                        
                    </div>
                    <div class="product-desc">
                        <span class="product-price">
                            R$199
                        </span>
                        <a href="product/{{g.id}}" class="product-name"> {{g.titulo}}</a>



                        <div class="small m-t-xs">
                            {{g.descricao}}
                        </div>
                        <div class="m-t text-righ">

                            <a href="product/{{g.id}}" class="btn btn-xs btn-outline btn-primary">Details <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>